@import "./variable";
@import "Style/mixin";

@popup-header-height: 104rpx;

.clip() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.popup {
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: transparent;
    transition-property: background-color;

    &.mask {
        background-color: @overlay-page-color;
    }

    &-wrap {
        position: absolute;
        left: 0;
        right: 0;
        height: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: #fff;

        &.center {
            width: auto;
            height: auto;
            left: 50%;
            top: 50%;
            right: auto;
            transform: translate(-50%, -50%);
            background: transparent;
        }

        &.top {
            top: 0;

            &.size-2 {
                height: @popup-down-height-min;
            }

            &.size-6 {
                height: @popup-down-height-max;
            }

            &.showRadius {
                overflow: hidden;
                border-radius: 0 0 @popup-down-radius @popup-down-radius;
            }

        }

        &.bottom {
            bottom: 0;

            &.showRadius {
                overflow: hidden;
                border-radius: 24rpx 24rpx 0 0;
            }

            &.size-3 {
                height: @popup-up-height-min;
            }

            &.size-4 {
                height: @popup-up-height-1;
            }

            &.size-5 {
                height: @popup-up-height-2;
            }

            &.size-6 {
                height: @popup-up-height-3;
            }

            &.size-7 {
                height: @popup-up-height-max;
            }
        }
    }

    &-header {
        height: @popup-header-height;
        line-height: @popup-header-height;
        text-align: center;
        position: relative;
        vertical-align: middle;
        background: #fff;

        &.showRadius {
            border-radius: 24rpx 24rpx 0 0;
        }


        .title {
            display: inline-block;
            font-size: @popup-title-size;
            color: @popup-title-color;
            box-sizing: border-box;
            max-width: 12em;
            font-weight: bold;
            .clip()
        }

        .sub-title {
            display: inline-block;
            position: absolute;
            right: 0;
            height: 100%;
            font-size: @popup-textbtn-size;
            color: @popup-textbtn-color-base;
            margin: 0 15px;
            max-width: 4em;
            .clip();
        }
    }

    &-body {
        flex: 1;
        position: relative;
        overflow: hidden;
    }

    &-safe.safeArea {
        background: #fff;
        height: constant(safe-area-inset-bottom);
        /* 兼容 iOS < 11.2 */
        height: env(safe-area-inset-bottom);
        /* 兼容 iOS >= 11.2 0 */
    }
}

// 传递给子组件的 out class 需要跟目录下的类才会生效
.o-p-close {
    display: inline-block;
    position: absolute;
    left: 0;
    height: 100%;
    font-size: @popup-icon-size !important;
    color: @popup-icon-color !important;
    padding: 0 15px !important;
}
 
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  color: transparent;
} 