@import "Style/variable";
@import "Style/mixin";

.oak-popup {
    position: relative;

    &-body {
        width: inherit;
        height: inherit;
        box-sizing: border-box;
        position: fixed;

        &.center {
            width: auto;
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &.top {
            top: 0;
            left: 0;
            right: 0;
            height: auto;
        }

        &.bottom {
            bottom: 0;
            left: 0;
            right: 0;
            height: auto;

            &.iphonex {
                padding-bottom: @iphonex-padding;
            }
        }

        &.left {
            left: 0;
            top: 0;
            bottom: 0;
            width: auto;

            &.iphonex {
                padding-bottom: @iphonex-padding;
            }
        }

        &.right {
            right: 0;
            top: 0;
            bottom: 0;
            width: auto;

            &.iphonex {
                padding-bottom: @iphonex-padding;
            }
        }
    }
}