@import "Style/variable";
@import "Style/mixin";

.oak-popup {
    position: relative;

    & &-mask {
        @include mask;
    }

    & &-body-wrap {
        position: fixed;
        box-sizing: border-box;
        background-color: inherit;
    }

    &-body,
    &-body-iphonex {
        width: inherit;
        height: inherit;
        box-sizing: border-box;
    }

    &-center {
        .oak-popup-body-wrap {
            width: auto;
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &-bottom,
    &-top {
        .oak-popup-body-wrap {
            left: 0;
            width: 100%;
            height: auto;
        }
    }

    &-bottom .oak-popup-body-wrap {
        bottom: 0;
    }

    &-bottom .oak-popup-body-iphonex {
        padding-bottom: $iphonex-padding;
    }

    &-top .oak-popup-body-wrap {
        top: 0;
    }

    &-top .oak-popup-body-iphonex {
        padding-top: $iphonex-padding;
    }

    &-left,
    &-right {
        .oak-popup-body-wrap {
            top: 0;
            width: auto;
            height: 100vh !important;
        }

        .oak-popup-body-iphonex {
            padding: $iphonex-padding 0;
        }
    }

    &-right .oak-popup-body-wrap {
        right: 0;
    }

    &-left .oak-popup-body-wrap {
        left: 0;
    }

}