# project.config.json
.DS_Store
coverage
yarn.lock
yarn-error.log
.vscode
.idea/
__build__/*.config.*
docs/dist
demo/dist
dist
node_modules
oak.tar.gz
oak.zip
Source code.tar.gz
Source code.zip
qiniu.js
package-lock.json
.prettierrc
packages/*