#root {}

.layout {
    position: relative;
    color: #333;
    background: #fff;
}

.header {
    padding: 0 50px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 1;

    h2 {
        margin: 0;
        padding: 0;
        flex: 1;
    }

    a {
        display: block;
        color: inherit;
    }

    .github {
        width: 40px;
    }
}

.doc-body {
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

.doc-content {
    padding: 0 30px 30px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #314659;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    background-color: #fff;
    min-height: auto;

    @import './markdown.scss';

}

.doc-footer {
    margin-top: 40px;
    background: #f8f8f8;
    text-align: center;
    color: #999;
}