@import "Style/variable";
@import "Style/mixin";

.oak-slide-view {
    overflow: hidden;
    .slide {
        .right {
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            height: 100%;
            font-size: 32rpx;
            transform: translate3d(100%, 0, 0);
            text-align: center;
            line-height: 90rpx;
            background: red;
            color: #fff;
        }
    }
}