@import "Style/variable";
.oak-dialog {
    background-color: rgba(0,0,0,.7);
    position: fixed;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 10;
    &.hide {
        display: none;
    }
    &-content {
        position: absolute;
        // transition: all ease-out 200ms;
    }
    &-diretion-top {
        top: 0;
        left: 0;
        transform: translateY(-100%)
    }
    &-diretion-left {
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%)
    }
    &-diretion-right {
        top: 50%;
        right: 0;
        transform: translate(100%, -50%)
    }
    &-diretion-bottom {
        bottom: 0;
        left: 0;
        transform: translateY(100%)
    }
    &-position-top {
        top: 0;
        left: 0;
    }
    &-position-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)
    }
    &-position-bottom {
        bottom: 0;
        left: 0;
    }
}