@import "./variable";

.tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
    overflow: hidden;
    border-radius: @tag-bg-radius;
    font-size: @tag-font-size;
    border: none;
    color: #fff;

    &-text {
        display: inline-block;
        line-height: @tag-font-height;
        font-size: @tag-font-size;
        font-weight: @tag-font-weight-bold;
        padding: 2rpx @tag-font-spacing-horizontal;
        border-radius: @tag-bg-radius;

        &:not(.plain) {
            border: none !important;
        }

        &.plain {
            padding: 0 @tag-font-spacing-horizontal;
            line-height: @tag-font-height;
            background: #fff;
            border-width: @tag-border-width;
            border-style: solid;
            font-weight: @tag-font-weight-regular;
        }
    }

    &-image {
        height: @tag-icon-height;
    }

    &-icon {
        min-width: 16px;
    }

    &.disabled {
        background: @tag-disabled-bg;
        color: #fff;
        border: none;

        .plain {
            background: #fff;
            border-color: @tag-disabled-bg;
            color: @tag-disabled-color;
        }
    }

    // 预设样式
    &.preset {
        &_gray {
            background: @tag-bg-color-gradient-deepgray;
            .tag-text.plain {
                color: @tag-font-color-gray;
                border-color: @tag-border-color-gray;
            }
        }
        &_red {
            background: @tag-bg-color-gradient-red;
            .tag-text.plain {
                color: @tag-font-color-red;
                border-color: @tag-border-color-red;
            }
        }
        &_green {
            background: @tag-bg-color-gradient-green;
            .tag-text.plain {
                color: @tag-font-color-green;
                border-color: @tag-border-color-green;
            }
        }
        &_blue {
            background: @tag-bg-color-gradient-lightblue;
            .tag-text.plain {
                color: @tag-font-color-blue;
                border-color: @tag-border-color-lightblue;
            }
        }
        &_orange {
            background: @tag-bg-color-gradient-orange;
            .tag-text.plain {
                color: @tag-font-color-orange;
                // border-color: @tag-border-color-purple;
            }
        }
        &_purple {
            background: @tag-bg-color-gradient-purple;
            .tag-text.plain {
                color: @tag-font-color-purple;
                // border-color: @tag-border-color-purple;
            }
        }
    }

}