@import "Style/variable";
@import "Style/mixin";

@mixin colors($text, $background, $border) {
    color: $text;
    background-color: $background;
    border: 2rpx solid $border;
}

@mixin sharpen($height, $weight, $size) {
    height: $height;
    line-height: $height;
    font-weight: $weight;
    font-size: $size;
}

$default: #333, #fafafa, #d9d9d9;
$magenta: #fc0738, #fde6eb, #fdc4d0;
$white: #fff, #fd7622, #fff;
$red: #f5222d, #fff1f0, #ffa39e;
$volcano: #fa541c, #fff2e8, #ffbb96;
$orange: #fd7622, #fff8f4, #ffdeca;
$gold: #faad14, #fffbe6, #ffe58f;
$lime: #a0d911, #fcffe6, #eaff8f;
$green: #52c41a, #f6ffed, #b7eb8f;
$cyan: #13c2c2, #e6fffb, #87e8de;
$blue: #1890ff, #e6f7ff, #91d5ff;
$geekblue: #2f54eb, #f0f5ff, #adc6ff;
$purple: #722ed1, #f9f0ff, #d3adf7;
$discount: #fc4916, #fff9f7, #feb6a2;
$service: #7aba62, #f9fff6, #cae3c0;
$address: #fd7622, rgba(253, 118, 34, .08), transparent;
$coupon: #fd7622, #fff1e8, transparent;
$wxcoupon: #24ab1a, #e4f6e0, transparent;
$disable: #666666, #f9f9f9, #dddddd;

.oak-tag {
    padding: 0 $tag-padding;
    height: $tag-height;
    line-height: $tag-height;
    font-size: $font-small;
    border-radius: $border-radius-base;
    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;
    &-default {
        @include colors($default...);
    }

    &-magenta {
        @include colors($magenta...);
    }

    &-red {
        @include colors($red...);
    }

    &-white {
        @include colors($white...);
    }

    &-volcano {
        @include colors($volcano...);
    }

    &-orange {
        @include colors($orange...);
    }

    &-gold {
        @include colors($gold...);
    }

    &-lime {
        @include colors($lime...);
    }

    &-green {
        @include colors($green...);
    }

    &-cyan {
        @include colors($cyan...);
    }

    &-blue {
        @include colors($blue...);
    }

    &-geekblue {
        @include colors($geekblue...);
    }

    &-purple {
        @include colors($purple...);
    }

    &-discount {
        @include colors($discount...);
    }

    &-service {
        @include colors($service...);
    }

    &-address {
        @include colors($address...);
        @include sharpen($tag-height + 4, bold, 20rpx);
    }

    &-coupon {
        @include colors($coupon...);
        @include sharpen($tag-height + 4, normal, 22rpx);
        border-radius: 8rpx 0;
    }

    &-wxcoupon {
        @include colors($wxcoupon...);
        @include sharpen($tag-height + 4, normal, 22rpx);
        border-radius: 8rpx 0;
    }

    &-disable {
        @include colors($disable...);
    }

    &.plain {
        background-color: transparent;
    }

    &-round {
        padding: 0 $tag-round-padding;
        border-radius: $border-radius-max;
    }

    &-square {
        border-radius: 0;
    }
}