.container {
    background-color: #ffffff;
    padding: 0 30rpx;
    padding-bottom:30rpx;

    .h3 {
        margin-top: 30rpx;
    }

    .row {
        line-height: normal;
    }

    // oak-stepper {
    //     display: inline-block;
    // }
}