@import "Style/variable";

.link {
    padding: 0 20rpx;
    width: 100%;
    height: 70rpx;
    border: $border;
    background-color: $stable-bg;
    color: #333;
    line-height: 70rpx;
    font-size: $font-size-base;
}