@import 'Style/variable';
@import "../style/mixin";

.oak-field {
    display: flex;
    align-items: center;
    position: relative;
    font-size: @font-size-title;
    color: @txt-default;
    background-color: #fff;
    padding: 30rpx;
    line-height: 44rpx;
    font-size: 32rpx;
    .title {
        color: @gray-2;
    }
    .input {
        flex: 1;
        margin-right: 30rpx;
        &.ellipsis {
            .ellipsis(1);
        }
    }
    .oak-field-clear {
        // position: absolute;
        z-index: 10;
        padding-left: 30rpx;
        // right: 0;
        // top: 0;
    }
    .captcha {
        color: #999;
        font-family: 'Helvetica Neue';
        &.active {
            color:#FF1A34;
        }
    }
}
.field-captcha-b {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    .captcha-b-input {
        letter-spacing: 57px;
        line-height: 60rpx;
        height: 60rpx;
        font-size: 44rpx;
        opacity: 0;
    }
    .captcha-line {
        position: absolute;
        top: 0;
        left: 0;
        height: 64rpx;
        display: flex;
        z-index: 100;
        pointer-events: none;
        .line {
            width: 88rpx;
            line-height: 64rpx;
            text-align: center;
            border-bottom: 1rpx solid #ddd;
            margin-right: 26rpx;
            position: relative;
            &.active {
                border-bottom: 1rpx solid #FF1A34;
            }
            &.active::after {
                position: absolute;
                content: '';
                width: 2rpx;
                height: 46rpx;
                left: 43rpx;
                top: 9rpx;
                background-color: #999;
                animation: focus 1s infinite;
            }
        }
    }
}
@keyframes focus {
    from {
    
        opacity: 1;
    
    }  
    to {
    
        opacity: 0;
    
    }
}
.input-placeholder {
    font-size: 32rpx;
    color: #ccc;
}
.oak-field-reset {
    cursor: auto;
    display: block;
    height: 1.4rem;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    font-family: UICTFontTextStyleBody;
    min-height: 1.4rem;
}

.oak-field-textarea {
    position: relative;
    font-size: @font-size-title;
    color: @txt-default;
    background: @default-bg;
    padding: 24rpx 30rpx 30rpx;
    overflow: hidden;
    &.maxlength {
        padding-bottom: 52rpx;
    }
    textarea {
        width: 100%;
        box-sizing: border-box;
    }
    .max-length {
        position: absolute;
        right: 30rpx;
        bottom: 12rpx;
        font-size: 24rpx;
        color: #666;
        &.default {
            color: #ccc;
        }
    }
}
.oak-field-content {
    position: relative;
    display: flex;
    font-size: @font-size-title;
    color: @txt-default;
    align-items: center;
    .oak-field-label {
        min-width: 120rpx;
        margin-right: @wrap-padding-s;
        color: @gray-2;
        font-size: 32rpx;
        &.require::before {
            content: '*';
            position: absolute;
            color: @badge-bg;
            left: -@wrap-padding-s;
            top: 0;
        }
    }
    .oak-field-body {
        position: relative;
        flex: 1;
        input {
            flex: 1;
        }
        .oak-field-err-msg {
            position: absolute;
            font-size: @font-small;
            left: 0;
            bottom: -@wrap-padding-s;
            color: @badge-bg;
        }
    }
}
