@font-face {font-family: "oak-iconfont";
  src: url('//at.alicdn.com/t/font_1159887_mawlclosrlg.eot?t=1569484939775'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1159887_mawlclosrlg.eot?t=1569484939775#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1159887_mawlclosrlg.woff?t=1569484939775') format('woff'),
  url('//at.alicdn.com/t/font_1159887_mawlclosrlg.ttf?t=1569484939775') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1159887_mawlclosrlg.svg?t=1569484939775#oak-iconfont') format('svg'); /* iOS 4.1- */
}

.oak-iconfont {
  font-family: "oak-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oak-icon-menu:before {
  content: "\e60f";
}

.oak-icon-select-disable:before {
  content: "\e665";
}

.oak-icon-unselect:before {
  content: "\e666";
}

.oak-icon-selected:before {
  content: "\e694";
}

.oak-icon-brush:before {
  content: "\e6e5";
}

.oak-icon-collection_fill:before {
  content: "\e6ea";
}

.oak-icon-manage_fill:before {
  content: "\e70b";
}

.oak-icon-manage:before {
  content: "\e70c";
}

.oak-icon-more:before {
  content: "\e710";
}

.oak-icon-picture_fill:before {
  content: "\e716";
}

.oak-icon-picture:before {
  content: "\e717";
}

.oak-icon-select:before {
  content: "\e725";
}

.oak-icon-task:before {
  content: "\e732";
}

.oak-icon-workbench_fill:before {
  content: "\e73e";
}

.oak-icon-workbench:before {
  content: "\e73f";
}

.oak-icon-down:before {
  content: "\e69b";
}

.oak-icon-brightness:before {
  content: "\e69c";
}

.oak-icon-close:before {
  content: "\e69e";
}

.oak-icon-Privacy:before {
  content: "\e69f";
}

.oak-icon-save:before {
  content: "\e6a0";
}

.oak-icon-collection:before {
  content: "\e6a7";
}

.oak-icon-upward:before {
  content: "\e6a1";
}

.oak-icon-night:before {
  content: "\e6a5";
}

.oak-icon-next:before {
  content: "\e6a2";
}

.oak-icon-nickname:before {
  content: "\e6a3";
}

.oak-icon-return:before {
  content: "\e6a4";
}

.oak-icon-huabi:before {
  content: "\e6bc";
}
