@mixin inline-block {
    display: inline-block;
    visibility: middle;
}

@mixin ellipsis($row: 1) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $row;
    -webkit-box-flex: $row;
    height: inherit;
}

@mixin tc {
    text-align: center;
}