$bordercolor:           rgba(221, 221, 221, .5);
$border:                1rpx solid rgba(221, 221, 221, .8);

$stable-bg:             #f8f8f8;
$default-bg:            #fff;
$mask-bg:               rgba(0, 0, 0, .7);
$highligh-bg:           #FD7622;
$danger-bg:             #FF4600;
$active-bg:             #FEF1E8;

$txt-default:           #333;
$txt-info:              #999;
$txt-muted:             #ccc;
$txt-warning:           #FF0500;
$txt-highlight:         #FD7622;
$txt-link:              #00a5e0;
$txt-feeds:             #314c83;
$txt-white:             #fff;

$icon-line-height:      1;
$line-height-base:      1.5;
$line-height-s:         1.3;
$line-height-txt:       24rpx;
$txt-padding-top:       20rpx;
$txt-padding-bottom:    20rpx;

$font-size-icon:            40rpx;
$font-size-base:            24rpx;
$font-size-btn-block:       36rpx;
$font-size-btn-large:       30rpx;
$font-size-btn-default:     26rpx;
$font-size-btn-small:       22rpx;
$font-size-title:           32rpx;
$font-size-subtitle:        28rpx;
$font-size-h1:              36rpx;
$font-size-title-lg:        34rpx;
$font-size-info:            16px;
$font-size-sub:             28rpx;
$font-size-tips:            12px;

$wrap-padding:                  30rpx;
$wrap-padding-s:                20rpx;
$btn-block-lr-padding:          34rpx;
$btn-large-lr-padding:          28rpx;
$btn-default-lr-padding:        24rpx;
$btn-small-lr-padding:          20rpx;

$wrap-link-padding:     30px;
$wrap-link-padding-s:   25px;

$wrap-list-padding-subtitle:    10rpx;

$border-radius-base:    4rpx;
$border-radius-lg:      8rpx;
$border-radius-max:     200rpx;

$active-opacity:                .5;
$btn-disabled-opacity:          .65;

$poptips-height:                        40rpx;
$poptips-bg:                            rgba(0,0,0,.6);
$poptips-border:                        4rpx;

$tab-height:                            40rpx;
$tab-current-color:                     #FD7622;
$tab-current-border:                    #FD7622;

$z-index-placehold:                     -1;
$z-index-img:                           1;
$z-index-switch:                        2;
$z-index-link:                          2;
$z-index-progress:                      9;
$z-index-tag:                           9;
$z-index-border:                        10;
$z-index-notice:                        99;
$z-index-tooltips:                      99;
$z-index-head:                          100;
$z-index-poptips:                       999;
$z-index-overlay:                       9999;

$button-block-height:                   80rpx;
$button-large-height:                   70rpx;
$button-default-height:                 56rpx;
$button-small-height:                   40rpx;

$feeds-height:                          182rpx;
$feeds-single-height:                   200rpx;
$feeds-three-height:                    240rpx;