:host{
    height: 100%;
    position: relative;
    display: block;
}
.default {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 18rpx 76rpx 48rpx;
    box-sizing: border-box;
    .icon {
        width: 256rpx;
    }
    .title {
        font-size: 28rpx;
        color: #666;
        text-align: center;
    }
    .sub-title {
        font-size: 24rpx;
        color: #999;
        margin-top: 6rpx;
        text-align: center;
    }
    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 36rpx;
        .btn-ext {
            min-width: 240rpx;
        }
    }
    .direc-row {
        flex-direction: row-reverse;
        .main-btn {
            margin-left: 30rpx;
        }
    }
    .direc-column {
        flex-direction: column;
        .sub-btn {
            margin-top: 24rpx;
        }
    }
    &.center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
