@import "Style/variable";


.oak-button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: $border-radius-base;
    display: inline-flex;
    align-items: center;
    // vertical-align: middle;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;

    &-size_block {
        width: 100%;
        padding: 0 $btn-block-lr-padding;
        height: $button-block-height;
        font-size: $font-size-btn-block;
        line-height: $button-block-height - 2;
        display: flex;
        justify-content: center;
    }

    &-size_large {
        padding: 0 $btn-large-lr-padding;
        height: $button-large-height;
        font-size: $font-size-btn-large;
        // line-height: $button-large-height - 2;
        line-height: 0;

        &.oak-button-shape_circle {
            padding: 0;
            width: $button-large-height;
            border-radius: $button-large-height;
        }
    }

    &-size_default {
        padding: 0 $btn-default-lr-padding;
        height: $button-default-height;
        font-size: $font-size-btn-default;
        // line-height: $button-default-height - 2;
        line-height: 0;

        &.oak-button-shape_circle {
            padding: 0;
            width: $button-default-height;
            border-radius: $button-default-height;
        }
    }

    &-size_small {
        padding: 0 $btn-small-lr-padding;
        height: $button-small-height;
        font-size: $font-size-btn-small;
        // line-height: $button-small-height - 2;
        line-height: 0;

        &.oak-button-shape_circle {
            padding: 0;
            width: $button-small-height;
            border-radius: $button-small-height;
        }
    }

    &-type_default {
        background-color: $default-bg;
        border: $border;
        color: $txt-default;
    }

    &-type_primary {
        background-color: $highligh-bg;
        border: 1rpx solid $highligh-bg;
        color: $txt-white;

        &.plain {
            color: $highligh-bg;
        }
    }

    &-type_danger {
        background-color: $danger-bg;
        border: 1rpx solid $danger-bg;
        color: $txt-white;

        &.plain {
            color: $danger-bg;
        }
    }

    &-type_info {
        background-color: $active-bg;
        border: 1rpx solid $highligh-bg;
        color: $highligh-bg;
    }


    &-shape_square {
        border-radius: 0;
    }

    &-shape_round {
        border-radius: $border-radius-max;
    }

    .button-oak-icon {
        display: inline-block;
        vertical-align: middle;
    }

    .button-icon {
        margin-right: 10rpx;
        font-size: inherit;
        color: inherit;
    }

    &.plain {
        background-color: transparent;
    }

    &.disabled {
        opacity: $btn-disabled-opacity;
    }

    &:after {
        display: none;
    }
}