@import "Style/variable";

.title {
    font-size: 30rpx;
    text-align: center;
}

.icon-list {
    height: 100%;
}

.icon {
    padding-top: 20rpx;
    width: 25%;
    height: 140rpx;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
}

c-icon {
    margin: 30rpx;
}

.name {
    margin-top: 20rpx;
    font-size: $font-size-base;
    color: $txt-default;
    line-height: 1.2;
}

.tips {
    margin-top: 40rpx;
    text-align: center;
    color: $txt-info;
    font-size: $font-size-subtitle;
}