@import "Style/variable";
@import "Style/mixin";

.container {
    padding-bottom: 100rpx;
    .item {
        height: 90rpx;
        line-height: 90rpx;
        padding-left: 20rpx;
        background: #fff;
        font-size: 30rpx;
        color: #333;
    }
    .custom {
        flex: 1;
    }
    .custom-btn {
        flex: 1;
        background: #4facfe;
    }
    .icon {
        width: 84rpx;
        height: 84rpx;
        line-height: 84rpx;
        background: #fff;
        border-radius: 50%;
    }
    .myicon {
        width: 100%!important;
        height: 100%!important;
        border-radius: 0!important;
        background: #fafafa!important;
    }
}