.container {
    background-color: #ffffff;
    padding: 0 30rpx;

    .checked-diy {
        color: #722ed1;
        background: #f9f0ff;
        border-color: #d3adf7;
    }

    oak-label {
        margin-right: 20rpx;
        display: inline-block;
    }
}
